body {
  font-family: Arial, sans-serif; /* Set a more readable font */
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Set a light background color */
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007399;
  color: #e9e7e7;
}

#logo {
  max-width: 200px;
  max-height: 200px;
  margin-right: 15px;
}

#title {
  flex-grow: 1;
  font-size: x-large;
}

#main {
  display: flex;
  justify-content: space-evenly; /* space between `#drop-area` and `#fileNames` */
}

#drop-area {
  width: 200px;
  height: 100px;
  border: 2px dashed #007399;
  text-align: center;
  padding: 50px;
  color: #007399;
  margin: 20px;
}

#fileNames {
  width: 200px;
  height: 200pxx;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #007399;
  margin: 20px;
  border-radius: 5px;
}

#drop-area:hover {
  background-color: #e8f4fa;
}

#progressBar {
  text-align: center;
  font-size: 1.5em;
  margin: 20px auto;
  color: #007399;
}

#buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

button {
  padding: 10px;
  display: inline-flex; /* Align text in the center */
  justify-content: center; /* Align text in the center */
  align-items: center; /* Align text in the center */
  border: none;
  background-color: #007399;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition effect */
}

button:disabled {
  background-color: #ccc;
  cursor: default;
}

button:hover:not(:disabled) {
  background-color: #005377; /* Darker shade when hovered */
}

input[type='number'] {
  width: 750px;
  height: 40px;
  margin: 20px 0;
  padding: 0 10px;
  border: 1px solid #007399;
  border-radius: 5px;
  font-size: 16px;
  color: #007399;
}
