#title {
  text-align: center;
  margin: 0 auto;
}

#sub-title {
  text-align: center;
  margin: 0 auto;
}

#drop-area {
  width: 400px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
}
